@model IEnumerable<MovieApp.ViewModels.MovieViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@foreach(var movie in Model)
{
    <h1>@movie.Title</h1>
    <p><b>Year of Release: </b>@movie.Year</p>
    <b>Summary:</b>
    <p class="m-2">@movie.Summary</p>
    <b>Actors:</b>
    <p>@movie.Actors</p>
    <b>Directors:</b>
    <p>@movie.Directors</p>
}
